<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupsEnabled</key>
	<false/>
	<key>libraryID</key>
	<string>83659CDB-2A0A-4C0F-88CF-B34D4EB21579</string>
	<key>libraryTemplatesStorageLocation</key>
	<integer>1</integer>
</dict>
</plist>
